/* =====================审批管理页面start========================= */
$approval-color1: #333333; // 审批流程设置模态框文字颜色
$approval-color2: #666666; // 审批流程设置模态框文字颜色
$approval-color3: #0188FB; // 审批流程设置模态框文字颜色
$approval-color4: #DBDBDB; // 审批流程设置模态框边框颜色
$approval-color5: #BBBBBB; // 审批流程设置模态框箭头颜色
$approval-color6: #FFFFFF; // 审批流程设置模态框删除图标颜色
$approval-color7: #339EFE; // 审批流程设置模态框删除图标颜色

$approval-color8: #1890FF; // 调课审批表格文字颜色
$approval-color9: #EF5555; // 调课审批表格文字颜色
$approval-color10: #FFA800; // 调课审批表格文字颜色
$approval-color11: #999999; // 调课审批详情按钮背景
$approval-color12: #E3ECFB; // 调课审批详情按钮背景
$approval-color13: #FCF3E0; // 调课审批详情按钮背景
$approval-color14: #F5F5F5; // 调课审批详情按钮背景
$approval-color15: #FEE3E3; // 调课审批详情按钮背景
$approval-color16: #333333; // 调课审批详情文字颜色
$approval-color17: #F2F2F2; // 调课审批详情文字颜色

$approval-color18: #EBEBEB; // 调课审批班级头部背景颜色
$approval-color19: #95CDFC; // 调课审批班级尾部边框颜色
$approval-color20: #FCCD74; // 调课审批班级尾部边框颜色

$approval-color21: #F8F8F8; // 调课审批选项卡背景色
$approval-color22: #FFFFFF; // 调课管理异常提示字体颜色
$approval-color23: #000; // 调课管理异常提示背景颜色

$approval-color24: #BBBBBB; // 代课管理表格被删除的颜色
$approval-color25: #e8e8e8; // 调课审批详情边框颜色

$approval-color26: #FCF3E0; // 申请调课提示背景色
$approval-color27: #FFA800; // 申请调课提示文字颜色(部分按钮颜色)
$approval-color28: #DBDBDB; // 申请调课选择课时边框颜色

$approval-color29: #EF5555; // 代课详情异常标签文字颜色和字体颜色
$approval-color30: #fff; // 代课详情异常标签背景颜色

$approval-color31: #BBB; // 代课管理列表被销毁的字体颜色

$approval-color32: #EF5555; // 申请调课选中课时状态的边框颜色

$approval-color33: #dccfcc; // 申请调课置灰字体颜色

/* =====================审批管理页面end========================= */

/* =====================消息公共组件start========================= */
$commonmessage-back: #fff; // 消息组件按钮背景色
$commonmessage-color1: #1890FF; // 消息组件按钮背景色
$commonmessage-color2: #333333; // 消息组件文字颜色
$commonmessage-color3: #EF5555; // 消息组件未读消息颜色标记
$commonmessage-color4: #DBDBDB; // 消息组件已读消息颜色标记
$commonmessage-color5: #666666; // 消息组件未读消息字体颜色
$commonmessage-color6: #A8A8A8; // 消息组件已读消息字体颜色
$commonmessage-color7: #F0F0F0; // 消息组件边框颜色
$commonmessage-color8: #fff; // 消息组件标题颜色
$commonmessage-color9: #339EFE; // 消息组件标题背景颜色
/* =====================消息公共组件end========================= */

/* =====================消息中心页面start========================= */
$messagecenter-color1: #333333; // 消息中心页面字体颜色
$messagecenter-color2: #666666; // 消息中心页面字体颜色
$messagecenter-color3: #339EFE; // 消息中心页面字体颜色
$messagecenter-color4: #e8e8e8; // 消息中心页面边框颜色
$messagecenter-color5: #F5F5F5; // 消息中心页面背景颜色
$messagecenter-color6: #555555; // 消息中心页面字体颜色
$messagecenter-color7: #339EFE; // 消息中心页按钮颜色
$messagecenter-color8: #999999; // 消息中心页已读的查看按钮字体颜色

/* =====================消息中心页面start========================= */

/* =====================普通用户查看课表页面start========================= */
$schooltablecommon-color1: #666666; // 任课表格字体颜色
$schooltablecommon-color2: #999999; // 任课表格字体颜色
$schooltablecommon-color3: #339EFE; // 任课表格调课标识背景颜色
$schooltablecommon-color4: #FFA800; // 任课表格代课标识背景颜色
$schooltablecommon-color5: #FFF; // 任课表格代课标识字体颜色已及标识下边框颜色
$schooltablecommon-color6: #333333; // 任课表格字体颜色
$schooltablecommon-color7: #0188FB; // 任课表格字体颜色
/* =====================普通用户查看课表页面end========================= */
