$disabled-color: #ccc;   //置灰颜色

/* =====================tree组件start========================= */
$tree-color1: #818181; // 根图标icon颜色
$tree-color2: #555555; // 根文字颜色
$tree-color3: #999999; // 子图标icon颜色
$tree-color4: #666666; // 子文字颜色
$tree-color5: #F5F7FA; // 根文字高亮背景色
$tree-color6: #2878ff; // 高亮文字颜色

/* =====================tree组件end========================= */

/* =====================教研组信息start========================= */
$teaching-group-color1: #2878ff; // 选择教研组选中边框颜色&上行文字颜色
$teaching-group-color2: #F6F9FE; // 选择教研组选中背景颜色
$teaching-group-color3: #0188FB; // 下行文字颜色
$teaching-group-color4: #2878ff; // 选择教研组选中图标icon背景颜色
$teaching-group-color5: #FAFAFA; // 未选择教研组选中背景颜色
$teaching-group-color6: #666666; // 未选中上行文字颜色
$teaching-group-color7: #999999; // 未选中下行文字颜色
$teaching-group-color8: #CCCCCC; // 未选择教研组选中图标icon背景颜色
$teaching-group-color9: #ffffff; // 教研组选中图标icon颜色
$teaching-group-color10: #e5e5e5; // 选择成员弹窗边框颜色
$teaching-group-color11: #F2F2F2; // 选择成员弹窗列表th背景颜色
$teaching-group-color12: #555555; // 选择成员弹窗列表文字颜色
$teaching-group-color13: #EF5555; // 选择成员弹窗列表已选择文字颜色
$teaching-group-color14: #999999; // 选择成员弹窗列表删除icon颜色
$teaching-group-color15: #f5f5f5; // 新增教研组成员背景色
$teaching-group-color16: #8C8C8C; // 新增教研组成员close-icon颜色

/* =====================教研组信息end========================= */

/* =====================教师信息start========================= */
$teacher-color1: #333333; // 离校弹窗文字颜色
/* =====================教师信息end========================= */
/* =====================代课详情弹窗start========================= */
$replace-color1: #999; // 代课详情弹窗label文字颜色
$replace-color2: #EBEBEB;   //代课信息头部背景
$replace-color3: #EAEAEA;    //边框颜色
$adjust-color1: #FFA800;     //调课详情当前课节字体颜色
$adjust-color2: #FCF3E0;      //调课详情当前课节背景颜色
/* =====================代课详情弹窗end========================= */

/* =====================查看课表start========================= */
$course-view-color1: #fff; // 背景色
$course-view-color2: #2878ff;   //可链接文字颜色
$course-view-color3: #EAEAEA;    //总课表星期边框间隔颜色
$course-view-color4: #787878;      //场地课表年级展示背景色
$course-view-color5: #555;     //课表第一行颜色
$course-view-color6: #777;       //课表第二行颜色
/* =====================查看课表end========================= */

/* =====================用户管理start========================= */
$user-table-color1: #666;      //表格文字颜色
/* =====================用户管理end========================= */
/* =====================按钮颜色start===================== */
$button-color1: #2878ff; // primary按钮颜色
$button-color2: #fff;    //default按钮背景颜色
$button-color3: #fff;    //primary按钮字体颜色
$button-color4: #f4f4f4;    //disabled按钮背景颜色
/* =====================按钮颜色end===================== */
