<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="index.js"></script>
</head>
<body>
  <button onclick="connect()">连接</button>
  <button onclick="dropDB()">删除数据库</button>
  <button onclick="add()">添加数据</button>
  <button onclick="read()">读取数据</button>
  <button onclick="readAll()">读取所有数据</button>
  <button onclick="update()">更新数据</button>
</body>
</html>